---
import { markdownify } from "@lib/utils/textConverter";
const { banner } = Astro.props;
const { title, button, content } = banner;
---

<section class="section banner relative bg-[url(/images/design/hero-section.jpg)] bg-center bg-cover">
  <div class="container py-28">
    <div class="row items-center">
      <div class="lg:col-8">
        <h1 class="banner-title text-color-5 drop-shadow-lg" set:html={markdownify(title)} />

        <p class="mt-6 text-color-4" set:html={markdownify(content)} />

        <div class="flex justify-center lg:justify-start">
          {
            button.enable && (
              <a class="btn btn-primary-alt mt-8" href={button.link}>
                {button.label}
              </a>
            )
          }
        </div>
      </div>
    </div>
  </div>
</section>
