---
import social from "@config/social.json";
import Social from "./Social.astro";

const errors = { name: "", email: "", phone: "", message: "" };
const emailRegex = new RegExp(/^((?!\.)[\w\-_.]*[^.])(@\w+)(\.\w+(\.\w+)?[^.\W])$/)

const encode = (data: any) =>
  Object.keys(data)
    .map((key) => encodeURIComponent(key) + '=' + encodeURIComponent(data[key]))
    .join('&');

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("name");
    const email = data.get("email");
    const phone = data.get("phone");
    const message = data.get("message");

    if (typeof name !== "string") {
      errors.name += "El nombre es requerido"
    }

    if (typeof email !== "string" || !emailRegex.test(email)) {
      errors.email += "El email no es valido"
    }

    if (typeof phone !== "string" || !phone.length) {
      errors.phone += "El numero telefonico es requerido"
    }

    if (typeof message !== "string") {
      errors.message += "El campo es requerido"
    }

    const hasErrors = Object.values(errors).some((x) => x)

    if (!hasErrors) {
      await fetch('/', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: encode({
          'form-name': 'contacto',
          nombre: name,
          email,
          telefono: phone,
          mensaje: message,
        }),
      });
    } else {
      alert('Rellene los campos para poder enviar el formulario.')
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<section id="contact" class="page-hero pb-6 pt-16">
  <div class="container">
    <h2 class="text-center">Contactanos</h2>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="flex flex-col gap-12 lg:flex-row">
      <div class="sm:w-full md:w-1/2">
        <h3>Formulario</h3>
        <div
          class="p-12 shadow-xl flex justify-center items-center py-12 rounded-xl"
        >
          <form
            class="lg:max-w-[484px]"
            method="POST"
            name="contacto"
            data-netlify="true"
            data-netlify-honeypot="bot-field"
          >
            <div class="form-group mb-5">
              <label class="form-label" for="name">Nombre</label>
              <input
                class="form-control"
                type="text"
                id="name"
                name="name"
                placeholder="Nombre completo"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="email">Email</label>
              <input
                class="form-control"
                type="text"
                id="email"
                name="email"
                placeholder="Correo electrónico"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="phone">Teléfono</label>
              <input
                class="form-control"
                type="text"
                id="phone"
                name="phone"
                placeholder="Teléfono"
              />
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="message">Mensaje</label>
              <textarea
                class="form-control h-[150px]"
                id="message"
                name="message"
                cols="30"
                rows="10"></textarea>
            </div>
            <input
              class="btn btn-primary-alt block w-full"
              type="submit"
              value="Enviar"
            />
          </form>
        </div>
      </div>
      <div class="sm:w-full md:w-1/2">
        <h3>Ubicación</h3>
        <div class="p-6 mb-10 text-center md:mb-0 md:pt-9 shadow-xl rounded-xl">
          <div class="contact-img relative block pb-5 pl-5 w-full">
            <iframe
              class="w-full md:h-[39em]"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.3676039677975!2d-66.57684772496238!3d10.471659689659202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2bab01dea7f159%3A0x7eaf8477ea59f000!2sC.C.%20El%20Portal%20de%20Guatire!5e0!3m2!1sen!2sve!4v1690997211797!5m2!1sen!2sve"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 flex flex-col items-center justify-center">
      <h4>Encuéntranos también en:</h4>
      <Social source={social} className="social-icons-main mt-6 lg:mt-6" />
    </div>
  </div>
</section>
