---
import { markdownify } from "@lib/utils/textConverter";
const { gallery } = Astro.props;
const { title, images } = gallery;
---

<section id="gallery" class="section mt-24 relative">
  <div class="container mb-16">
    <div class="row justify-between text-center lg:text-start">
      <div class="lg:col-12">
        <h2 class="text-center mb-8 text-4xl" set:html={markdownify(title)} />
      </div>
    </div>
    <div class="w-full columns-1 md:columns-2 md:gap-6 gap-8">
      {images.map((image: any, index: number) => (
        <img class={index === 1 ? 'md:mt-8 lg:mt-12' : 'my-4 lg:my-0 first:mt-0'} src={image.src} alt="">
      ))}
    </div>
  </div>
</section>
